.navbar {
    background: #a3d594;
    left: 5%;  
    width: 90%;
    border-radius: inherit;
     
}

.entr{
  color: #0d0d0c;

}


.navbar-title {
    font-style: oblique;
    font-weight: 950;
    font-size: 60px;
    line-height: 20px;
    color: #f9fbf8;
    
}
.pass{
  margin-left: 20%;
  margin-top:15% ;
   
}

.buton{
  width: 50%;
  margin-left: 80%;
  background-color: #4c5849;
  border-radius: 20px;
}

.passone{
  width: 40%;
  margin-left: 30%;
}

.feed{
  margin-left: 30%;
  margin-top:15% ;
}

.one{
  width: 40%;
  margin-left: 30%;
  
  
}
.tre{
  width: 40%;
  margin-left: 30%;
}

.true{
  width: 40%;
  margin-left: 30%;
}

.for{
  width: 40%;
  margin-left: 30%;
}

.for{
  width: 40%;
  margin-left: 30%;
}



.navbar-text {
    font-family: serif;
    font-size: 90%;
    color: #0d0d0c;
    font-weight:lighter;
}


.view-color {
    position: relative;
    width: 100%;
    height: 150px;
    background: linear-gradient(270deg,  #bbf3ac, #e9efc5 100%);
    
}


.forms {
    width: 200%;
    text-align: center;
    padding-top: 30px;
}

.lista {
    width: 90%;
    text-align: center;
    padding-top: 70px;
}

.vista-calendar {
    padding-top: 90px;
    padding-left: 35%;
  
    
    
}
body{
  background: linear-gradient(270deg,  #ccfcc6 0%,#e9efc5 100%);
}
    
img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #748064;
  cursor: pointer;
}

form {
  color:#5C990D;
}

.CreateProfile{
         padding-left: 30px;
}

.imagenOne{
  width: 80%;
  padding-left: 10% ;
  border-radius: 100%;
}

.coll{
  padding-left: 10% ;
}

.feedback{
      margin:50px;
      height:70px;
      width: 70%;

}

.buuton{
  background-color: #1E4A13;
  border-radius: 200px;
}

.menuu{
  right: 50%;
}






