.navbar {
    background: #040903;
    width: 100%
}

.navbar-title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #afcc88;
}

.pass{
  margin-left: 20%;
  margin-top:15% ;
   
}

.buton{
  width: 25%;
  margin-left: 35%;
  background-color: #1E4A13;
  border-radius: 20px;
}

.passone{
  width: 40%;
  margin-left: 30%;
}

.feed{
  margin-left: 30%;
  margin-top:15% ;
}

.one{
  width: 40%;
  margin-left: 30%;
  
  
}
.tre{
  width: 40%;
  margin-left: 30%;
}

.true{
  width: 40%;
  margin-left: 30%;
}

.for{
  width: 40%;
  margin-left: 30%;
}

.for{
  width: 40%;
  margin-left: 30%;
}

.navbar-text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #6fb712;
}

.option-text {
  font-style: normal;
    font-weight: 350;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: black
}

.view-color {
    position: relative;
    width: 100%;
    height: 886px;
    background: #a7d270;
    min-height: 100hv;
}

.forms {
    width: 200%;
    text-align: center;
    padding-top: 30px;
}

.lista {
    width: 90%;
    text-align: center;
    padding-top: 70px;
}

.vista-calendar {
    padding-top: 30px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

body{
  background:  #a7d270/* linear-gradient(270deg, #D3D8E9 0%, #B9CD41 100%) */
}
    


img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #5C990D;
  cursor: pointer;
}

form {
  color:#5C990D;
}

.CreateProfile{
         padding-left: 30px;
}

.imagenOne{
  width: 70%;
  padding-left: 10% ;
  border-radius: 30px;
}

.coll{
  padding-left: 10% ;
}





